.important {
  color: navy;
  text-align: left;
}

.unimportant {
  color: orange;
}

.captain {
  font-style: italic;
}

img {
  float: right;
}

.my-class {
  border: 3px solid red;
  padding: 5px;
  margin: 7px;
  background-color: pink;
}
